body {
    background: beige;
}

.center {
    margin: auto;
    margin-top: 3em;

}

.todo {
    width: 900px;
    display: flex;
}

h2 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.personal, .professional {
    width: 425px;
}

.personal {
    margin-right: 50px;
}

.items {
    border: 1px solid #cccccc;
    padding: 0;
    padding-left: 8px;
    margin: 0;
    font-size: 20px;
    background: lightgoldenrodyellow;
}
.item-content {
    width: 100%;
}

input {
    width: 412px;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.item-delete {
    float: right;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}
.item-delete:hover {
    background: palegoldenrod;
}

