<div class="center todo">
  <div class="personal">
    <h2>Personlig</h2>
    <ul class="items">
      <p (click)="deletePersonal(i)" *ngFor="let s of personal; let i = index">
        <span>{{s}}</span>
      </p>
    </ul>
    <input autofocus [(ngModel)]="personalInput" (keydown.enter)="addShort()">
  </div>
  <div class="professional">
    <h2>Professionel</h2>
    <div class="items">
      <p (click)="deleteProfessional(i)" *ngFor="let l of professional; let i = index">
        <span>{{l}}</span>
      </p>
    </div>
    <input [(ngModel)]="professionalInput" (keydown.enter)="addLong()">
  </div>
</div>