.center {
    margin: auto;
    margin-top: 3em;
}

.todo {
    display: flex;
    width: fit-content;
}

h2 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.table-container {
    width: 425px;
    margin-right: 50px;
}

.table-container:last-child {
    margin-right: 0;
}

.items-table {
    border-collapse: collapse;
    font-size: 20px;
}
.item {
    background: ivory;
    border: 1px solid #cccccc;
}
.item-content {
    width: 100%;
    padding: 10px;
}

input {
    width: 412px;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.item-delete {
    float: right;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}
.item-delete:hover {
    background: palegoldenrod;
}

@media screen and (max-width: 1375px) {
    .todo {
        display: block;
        width: 425px;
    }
    .table-container {
        margin-right: 0;
    }
}

